## 8.2.3

In [2]:
import pandas as pd

In [4]:
# Read an excel file 
crowdfunding_data = pd.ExcelFile("../crowdfunding.xlsx")
# Get sheet names
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [6]:
# Transform sheets into dataframes
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name="crowdfunding_info")
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music

In [8]:
# Increase the column width for next dataframe
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name="contact_info", header=2) # Skip 3 header rows (first is 0)
contact_info_df.head(10)

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
5        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}
6          {"contact_id": 5650, "name": "Socorro Luna", "email": "socorro.luna@hotmail.com"}
7     {"contact_id": 5889, "name": "Carolina Murray", "email": "carolina.murray@knight.com"}
8                 {"contact_id": 4842, "name": "Kayla Moon", "email": "kayla.moon@yahoo.de"}
9       {"contact_id": 3280, "name": "Ariadna Geisel", "email": "ariadna.geisel@rangel.com"}

### Sample dataframes

In [9]:
contact_info_df.tail(10)

991                    {"contact_id": 5500, "name": "Vincentio Sanders", "email": "vincentio.sanders@voila.fr"}
992                {"contact_id": 3494, "name": "Bettina Norbiato", "email": "bettina.norbiato@allen-lutz.org"}
993                        {"contact_id": 3924, "name": "Julio Renner", "email": "julio.renner@industrias.net"}
994                          {"contact_id": 3521, "name": "Jelena Stiffel", "email": "jelena.stiffel@trupp.de"}
995          {"contact_id": 5262, "name": "Guadalupe Munoz", "email": "guadalupe.munoz@murray-hamilton.com.au"}
996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [12]:
# Run multiple times to get new random rows each time
contact_info_df.sample(n=10)

683        {"contact_id": 2462, "name": "Ellinor Leclercq", "email": "ellinor.leclercq@gmail.com"}
642        {"contact_id": 3838, "name": "Marco Vittadello", "email": "marco.vittadello@gmail.com"}
499  {"contact_id": 5095, "name": "Maximiliano Knowles", "email": "maximiliano.knowles@gmail.com"}
607          {"contact_id": 2816, "name": "Rosario Jacques", "email": "rosario.jacques@yahoo.com"}
884          {"contact_id": 2262, "name": "Homero Respighi", "email": "homero.respighi@gmail.com"}
724          {"contact_id": 2003, "name": "Manon Daugherty", "email": "manon.daugherty@segre.com"}
162        {"contact_id": 4323, "name": "Karl Trevisani", "email": "karl.trevisani@anguissola.it"}
371    {"contact_id": 4333, "name": "Gastone Beyer", "email": "gastone.beyer@stewart-sanchez.edu"}
248                {"contact_id": 3848, "name": "Nicola Rossi", "email": "nicola.rossi@berry.org"}
706             {"contact_id": 3999, "name": "Marcus Espino", "email": "marcus.espino@comolli.eu"}

In [13]:
crowdfunding_info_df.tail(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
990,1561,Ortiz-Roberts,Devolved foreground customer loyalty,7800,6839,failed,64,US,USD,1623214800,1623992400,False,True,film & video/drama
991,2632,Ramirez LLC,Reduced reciprocal focus group,9800,11091,successful,241,US,USD,1607493600,1622005200,False,True,music/rock
992,439,Morrow Inc,Networked global migration,3100,13223,successful,132,US,USD,1592110800,1612850400,False,True,film & video/drama
993,461,Erickson-Rogers,De-engineered even-keeled definition,9800,7608,canceled,75,IT,EUR,1625288400,1625720400,False,True,photography/photography books
994,1419,"Leach, Rich and Price",Implemented bi-directional flexibility,141100,74073,failed,842,US,USD,1636956000,1638856800,False,True,publishing/translations
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [17]:
crowdfunding_info_df.sample(n=10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
988,1680,"Gardner, Ryan and Gutierrez",Triple-buffered multi-tasking matrices,9400,4899,failed,64,US,USD,1614664800,1632114000,False,False,publishing/radio & podcasts
953,1994,Boyle Ltd,Streamlined fault-tolerant conglomeration,3300,1980,failed,21,US,USD,1615096800,1630904400,False,True,film & video/science fiction
540,159,Brown-Pena,Front-line client-server secured line,5300,14097,successful,247,US,USD,1583647200,1614319200,False,False,photography/photography books
84,2480,Cisneros-Burton,Public-key zero tolerance orchestration,31400,41564,successful,374,US,USD,1625288400,1633410000,False,False,technology/wearables
198,3039,Palmer Inc,Universal multi-state capability,63200,6041,failed,168,US,USD,1617598800,1625461200,False,False,music/electric music
155,1065,Hall-Schaefer,Distributed eco-centric methodology,139500,90706,failed,1194,US,USD,1621746000,1627534800,False,False,theater/plays
480,2391,Robles-Hudson,Balanced bifurcated leverage,8600,8656,successful,87,US,USD,1630126800,1632286800,False,True,photography/photography books
521,2775,Wilson Ltd,Function-based multi-state software,7600,11061,successful,369,US,USD,1617253200,1636261200,False,True,film & video/drama
511,2551,Smith-Mullins,User-centric intangible neural-net,147800,35498,failed,362,US,USD,1608616800,1640066400,False,False,theater/plays
610,1875,"Hughes, Mendez and Patterson",Stand-alone multi-state data-warehouse,42800,179356,successful,6406,US,USD,1632978000,1643695200,False,False,theater/plays

In [18]:
# Get a dataframe summary
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [20]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB